<dialog aria-labelledby="fr-modal-suppression-title" id="fr-modal-suppression" class="fr-modal" role="dialog">
	<div class="fr-container fr-container--fluid fr-container-md">
		<div class="fr-grid-row fr-grid-row--center">
			<div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
				<div class="fr-modal__body">
					<div class="fr-modal__header">
						<button class="fr-btn--close fr-btn" aria-controls="fr-modal-suppression">
							Fermer
						</button>
					</div>
					<div class="fr-modal__content">
						<h1 id="fr-modal-suppression-title" class="fr-modal__title">
							<span class="fr-icon-arrow-right-line fr-icon--lg"></span>
							Confirmation
						</h1>
						<p>
							En cliquant sur le bouton ci-dessous, vous confirmez l'annulation
							<span class="underline">définitive</span>
							de la réservation.
							<div class="fr-alert fr-alert--warning">
								<h3 class="fr-alert__title">Attention: si avez déjà perçu le véhicule, vous devez le restituer immédiatement! La date de fin de votre réservation correspondra au moment où vous avez cliqué sur le bouton de confirmation ci-dessous.
								</h3>
							</div>
						</p>

						<div class="fr-input-group" id="input-group-31">
							<label class="fr-label" for="msg-demandeur--delete">
								Observation éventuelle
							</label>
							<textarea class="fr-input" aria-describedby="msg-demandeur--delete-messages" id="msg-demandeur--delete"></textarea>
							<div class="fr-messages-group" id="msg-demandeur--delete-messages" aria-live="polite"></div>
						</div>

					</div>
					<div class="fr-modal__footer">
						<div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
							<button id="annul-resa--confirm" class="fr-btn fr-icon-delete-line fr-btn--icon-left fr-btn--secondary">
								Je confirme l'annulation de ma réservation
								<div class="loader hidden" id="submit-observ_valideur--loader">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
										<path opacity=".5" fill="#000091" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
																																																																																																																																																																																																																																																																																																													            s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
																																																																																																																																																																																																																																																																																																													          c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
										<path fill="#000091" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
																																																																																																																																																																																																																																																																																																																																																							            C22.32,8.481,24.301,9.057,26.013,10.047z">
											<animateTransform attributetype="xml" attributename="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatcount="indefinite"/>
										</path>
									</svg>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</dialog>
{# FIN MODALE DE SUPPRESSION #}
