{# Fil d'Arianne #}
<nav role="navigation" class="hide-s hide-m fr-breadcrumb" aria-label="vous êtes ici :">
	<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
		Voir le fil d’Ariane
	</button>
	<div class="fr-collapse">
		<ol class="fr-breadcrumb__list">
			<li>
				<a href="{{ path('resa_accueil') }}" class="fr-breadcrumb__link">
					Accueil
				</a>
			</li>
			<li>
				<a class="fr-breadcrumb__link" aria-current="page">
					Réserver un véhicule
				</a>
			</li>
		</ol>
	</div>
</nav>
