{% extends 'base.html.twig' %}

{% block body %}

	<div class="fr-table" id="table-selectable-component">
		<div class="fr-table__wrapper">
			<div class="fr-table__container">
				<div class="fr-table__content">
					<table id="table-selectable">
						<caption>
							Mon parc de véhicules
						</caption>
						<thead>
							<tr>
								<th class="fr-cell--fixed" role="columnheader">
									<span class="fr-sr-only">Sélectionner</span>
								</th>
								<th scope="col">
									th0
								</th>
								<th scope="col">
									th1
								</th>
								<th scope="col">
									th2
								</th>
								<th scope="col">
									th3
								</th>
							</tr>
						</thead>
						<tbody>
							<tr id="table-selectable-row-key-1" data-row-key="1">
								<th class="fr-cell--fixed" scope="row">
									<div class="fr-checkbox-group fr-checkbox-group--sm">
										<input name="row-select" id="table-select-checkbox-7748--0" type="checkbox">
										<label class="fr-label" for="table-select-checkbox-7748--0">
											Sélectionner la ligne 1
										</label>
									</div>
								</th>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
							</tr>
							<tr id="table-selectable-row-key-2" data-row-key="2">
								<th class="fr-cell--fixed" scope="row">
									<div class="fr-checkbox-group fr-checkbox-group--sm">
										<input name="row-select" id="table-select-checkbox-7750--1" type="checkbox">
										<label class="fr-label" for="table-select-checkbox-7750--1">
											Sélectionner la ligne 2
										</label>
									</div>
								</th>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
							</tr>
							<tr id="table-selectable-row-key-3" data-row-key="3">
								<th class="fr-cell--fixed" scope="row">
									<div class="fr-checkbox-group fr-checkbox-group--sm">
										<input name="row-select" id="table-select-checkbox-7752--2" type="checkbox">
										<label class="fr-label" for="table-select-checkbox-7752--2">
											Sélectionner la ligne 3
										</label>
									</div>
								</th>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
							</tr>
							<tr id="table-selectable-row-key-4" data-row-key="4">
								<th class="fr-cell--fixed" scope="row">
									<div class="fr-checkbox-group fr-checkbox-group--sm">
										<input name="row-select" id="table-select-checkbox-7754--3" type="checkbox">
										<label class="fr-label" for="table-select-checkbox-7754--3">
											Sélectionner la ligne 4
										</label>
									</div>
								</th>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
								<td>
									Lorem [...] elit ut.
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
