<nav class="fr-summary" role="navigation" aria-labelledby="fr-go_to_parc-title">
	<h2 class="fr-summary__title" id="fr-go_to_parc-title">Mon parc de véhicules:</h2>
	<ol>
		<li><a class="fr-summary__link" target="_self" href="/parc/">Afficher / Gérer le parc de véhicules</a></li>
		<li><a class="fr-summary__link" target="_self" href="/parc/ajouter">Ajouter un véhicule</a></li>
	</ol>
</nav>
