<nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
	<h2 class="fr-summary__title" id="fr-summary-title">Mon parc de véhicules:</h2>
	<ol>
		<li><a class="fr-summary__link" id="summary-link-2" target="_self" href="/parc/afficher">Afficher le parc de véhicules</a></li>
		<li><a class="fr-summary__link" id="summary-link-2" target="_self" href="#">Ajouter un véhicule (page en cours de construction)</a></li>
		<li><a class="fr-summary__link" id="summary-link-2" target="_self" href="#">Supprimer un véhicule (page en cours de construction)</a></li>
	</ol>
</nav>
