<nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
	<h2 class="fr-summary__title" id="fr-summary-title">Réserver un véhicule:</h2>
	<ol>
		<li><a class="fr-summary__link" id="summary-link-2" target="_self" href="/">Réserver un véhicule (page d'accueil)</a></li>
		<li><a class="fr-summary__link" id="summary-link-2" target="_self" href="/historique">Afficher l'historique de mes réservations</a></li>
	</ol>
</nav>