<nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
	<h2 class="fr-summary__title">Valider les réservations:</h2>
	<ol>
		<li><a class="fr-summary__link" target="_self" href="/validation/">Valider les réservations</a></li>
	</ol>
</nav>
