<nav class="fr-summary" role="navigation" aria-labelledby="fr-go_to_valider-title">
	<h2 class="fr-summary__title" id="fr-go_to_valider-title">Valider les réservations:</h2>
	<ol>
		<li><a class="fr-summary__link" target="_self" href="{{ path('resa_validation') }}">Valider les réservations</a></li>
		{# <li><a class="fr-summary__link" target="_self" href="/validation/tdb">Tableau de bord des réservations</a></li> #}
	</ol>
</nav>
