{% extends 'base.html.twig' %}

{% block body %}

  <div class="fr-grid-row">

    {{ form_start(form) }}

    <div class="fr-mt-12w fr-col-8 fr-col-offset-2">

      <div class="fr-input-group{{ result == false ? ' fr-input-group--error' : '' }}">

        <label class="fr-label" for="nigend">
          Chargement d'un nigend dans la base pour test :
        </label>

        {{ form_widget(form.nigend) }}

        {% if result == false %}
          <p id="text-input-error-desc-error" class="fr-error-text">
            Le nigend n'est pas connu de la base.
          </p>
        {% endif %}

      </div>

      <br/>

      <input type="submit" class="fr-btn fr-btn--primary" value="Charger le profil" />

    </div>

    {{ form_end(form) }}

  </div>

{% endblock %}
