@use "./starter-complet";

// @font-face {
// 	font-family: "Raleway";
// 	src: url("./fonts/Raleway-Regular.ttf");
// }

// body {
//     font-family:
//         /*"Raleway",*/
//         Helvetica, Arial, Courier New, sans-serif;
// }

/* FOOTER */

.cs-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 0 -1px 0;
    background-color: var(--grey-10);

    & .cs-menu {
        padding: 5px 1px;
        position: relative;

        &.cs-menu-accueil .cs-menu__item,
        &.cs-menu-historique .cs-menu__item {
            border-right: 1px solid var(--grey-8);
        }

        & .cs-menu__item {

            width: 100%;
            border: none;
            background: unset;
            min-height: 60px;
            display: block;

            & .icon {

                height: 30px;
                stroke: var(--grey-0);
                fill: var(--grey-0);
                stroke-width: 0;
                width: 100%;
                margin-top: 12px;
                margin-bottom: 9px;

            }
        }
    }
}

/* FOOTER */

/* AFFICHAGE DES VÉHICULES */

.cs-nb-vehicules {
    font-weight: 400 !important;
    text-transform: uppercase;
    margin-inline-start: -8px;
}

// CARD

.cs-card {
    border-radius: 6px;
    padding: 0 !important;
    max-height: 140px;
    width: 100%;

    & .cs-img-container {
        width: 35%;
        max-width: 126px;
        height: 100%;
        position: relative;
        z-index: -1;

        & .cs-img {
            width: 150%;
            height: auto;
            border-radius: 6px 0 0 6px;
            max-height: 140px;
        }
    }

    & .cs-descr-container {
        background-color: var(--grey-0);
        height: 100%;
        padding: .5rem;
        width: 65%;
        max-width: 65%;
        border-radius: 0 6px 6px 0;

        & .cs-marque {
            padding-left: 16px;
            margin-bottom: 0;
        }

        & .cs-tags{
            margin-bottom: -8px;
        }

        & .cs-user-icon {
            width: 12px;
            padding: 0px;
            margin: -12px -2px;
            background-color: transparent;
            color: var(--text-default-grey);
        }
    }
}