.cs-fiche-vehicule {
  & .cs-gallerie-btn {
    padding: 0;
  }

  & .cs-marque {
    font-weight: 900;
    font-size: 1.5rem;
  }

  & dl,
  & dd {
    padding-inline-start: 0;
  }

  .cs-gallerie {
    border: 1px solid var(--grey-6);
    margin-bottom: 2rem;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .05);

    & .cs-figure {
      border: 1px solid var(--grey-2);
      border-radius: 3px;
    }
  }

  .cs-informations {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
  }

  // Surcharge du filtre Début -> Fin
  & .cs-filtres-container {
    position: relative;
    padding: 8px 0;
    height: auto;

    & .cs-date-ctnr {
      height: 3rem;

      & .cs-btn-from-to {
        line-height: 2.5rem;

        & .cs-from-to-value {
          font-size: .8rem;

          & .cs-from-to-value--date,
          & .cs-from-to-value--date .hide-s {
            text-transform: lowercase;
          }

          & .cs-from-to-value--heure {
            margin-top: -1.5rem;
            font-size: .7rem;
            font-weight: 500;
          }
        }
      }
    }
  }

  & table {
    & thead tr {
      &.cs-row-days th {
        padding: 1rem;
        font-size: .8rem;
      }

      & th {
        text-align: center;

      }
    }

    & tbody tr td .cs-td-daynum {
      font-weight: 900;
      cursor: pointer;

      &.striked {
        text-decoration-line: line-through;
      }

      &.csag_ferme[data-date][data-ref] {
        opacity: 1;
      }

      &.striked,
      &.before_now,
      &.after_limit,
      &.csag_ferme,
      &.after_limit.csag_ferme[data-date][data-ref] {
        cursor: initial;
        font-weight: initial;
        opacity: .5;
      }

      &.selected-from,
      &.selected-to {
        border: 1px solid var(--grey-5);
        border-radius: 6px;
        transition: all 0.3s ease;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      }
      
      &.selected-to{
        background-color: var(--blue-5);
        color: var(--grey-0);
      }
    }
  }

}

.fr-modal .cs-date-lib {
  text-transform: lowercase;
}