// surcharge 'reserver.scss' pour ne pas "striker" les dates
.cs-fiche-vehicule.cs-tdb table {

  & td {
    padding: 5px 0;

    &:empty {
      padding: 0;
    }
  }

  & th,
  & td {
    min-width: calc(100% /7);
  }

  & th.week-end,
  & td.week-end {
    font-weight: initial;
    opacity: 0.5;
  }

  & tbody tr td .cs-td-daynum.striked {
    text-decoration: none;

    &+div {
      background: transparent;
      height: fit-content;
      width: 100%;
      text-align: center;

      & p {
        margin: 3px auto;
        color: #fff;
        padding: 0 2px;
        font-size: 10px;
        line-height: 1.5;
        border-radius: 5px;
        max-width: 50px;

        &:empty {
          display: inline-block;
          width: 6px;
          height: 6px;
          margin: 0;
        }

        & span {
          line-break: auto;
        }

        & span>span {
          margin-left: 1rem;
        }
      }
    }
  }
}

.cs-tdb-legend {

  display: inline-block;
  vertical-align: top;

  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  padding: 15px;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD,
    2px 2px 0 #BBB;

  & li {
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
  }

  & em {
    font-style: normal;
  }

  & span {
    float: right;
    margin-left: 1rem;
  }

}