.valid-resa {

  visibility: visible;
  opacity: 1;
  height: 100%;
  transition: opacity 1s linear;

  &.removed {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s 1s, opacity 1s linear, height 1s linear;
  }

  & .loader {
    display: none;
  }

  & .loader.loading {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 2;

    & svg {
      margin-top: 3rem;

      & path,
      & rect {
        fill: #FF6700;
      }
    }
  }

  &:hover .valid-resa--menu {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    height: 100%;
    width: 100%;
    z-index: 1;

    & .fr-btn {
      margin-top: 5rem;

      &.fr-btn--secondary {
        background-color: #fff;
      }
    }
  }

  & .valid-resa--menu {
    display: none;
  }
}

.cs-go.cs-go-compte {
  bottom: 0;
}

.observation {
  width: 135%;
  margin-top: -0.5em;
  line-height: 1.5em;

  & .bold {
    font-size: 1.25em;
  }
}

table .bg-red td {
  background-color: var(--red-2) !important;
}

table .bg-green td {
  background-color: var(--green-2) !important;
}

table .bg-grey td {
  background-color: var(--grey-4) !important;
}

/* AUTOCOMPLETE CANDIDATS */
ul.suggest-candidat-list {
  position: absolute;
  z-index: 10000;
  border: 1px solid;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-top: 0;

  li {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    list-style-type: none;
    padding: 8px 12px;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
  }
}

@media all and (max-width: 641px) {
  .valid-resa:hover .valid-resa--menu .fr-btn {
    margin-top: 0;
  }
}