<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>
        RESA-971
    </title>

    {# FAVICON #}
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">

    <!-- 180×180 -->
    <link rel="icon" href="/favicons/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon">

    <!-- 32×32 -->
    <link rel="manifest" href="/favicons/manifest.webmanifest" crossorigin="use-credentials">


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
